USE [master]
GO
/****** Object:  Database [StudentManagement]    Script Date: 12/21/2020 10:47:26 PM ******/
CREATE DATABASE [StudentManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Student Management', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Student Management.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Student Management_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Student Management_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentManagement]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 12/21/2020 10:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartId] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [nvarchar](50) NULL,
	[DepatmentName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Telephone] [nvarchar](50) NULL,
	[Website] [nvarchar](50) NULL,
	[StudentImage] [image] NULL,
	[Address] [nvarchar](50) NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[DepartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employees]    Script Date: 12/21/2020 10:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[employeeid] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](50) NULL,
	[dataofbirth] [datetime] NULL,
	[email] [nvarchar](50) NULL,
	[mobile] [nvarchar](50) NULL,
	[DepartId] [int] NULL,
	[photo] [image] NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[employeeid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roleid]    Script Date: 12/21/2020 10:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roleid](
	[Roleid] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[Notes] [nvarchar](50) NULL,
 CONSTRAINT [PK_Roleid] PRIMARY KEY CLUSTERED 
(
	[Roleid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/21/2020 10:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NULL,
	[Roleid] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[student_gpa]    Script Date: 12/21/2020 10:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[student_gpa]
AS
SELECT [DepartId],[StudentName] FROM [dbo].[Departments]
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartId], [StudentName], [DepatmentName], [Email], [Telephone], [Website], [StudentImage], [Address]) VALUES (6, N'', N'aJKDSDSF', N'FFDSDFFDFD', N'XZXZDSS', N'', NULL, N'DSSDDDS')
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([employeeid], [fullname], [dataofbirth], [email], [mobile], [DepartId], [photo]) VALUES (5, N'SASasad', CAST(N'2020-12-16 00:00:00.000' AS DateTime), N'fsadfasd', N'323212323', 22, 0x)
INSERT [dbo].[Employees] ([employeeid], [fullname], [dataofbirth], [email], [mobile], [DepartId], [photo]) VALUES (6, N'sdfasdf', CAST(N'2020-12-16 00:00:00.000' AS DateTime), N'fdsad', N'2332', 1, 0x)
INSERT [dbo].[Employees] ([employeeid], [fullname], [dataofbirth], [email], [mobile], [DepartId], [photo]) VALUES (7, N'rsrtrsxt', CAST(N'2020-12-16 00:00:00.000' AS DateTime), N'rdtdrtd', N'234512345', 0, 0x)
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[Roleid] ON 

INSERT [dbo].[Roleid] ([Roleid], [Description], [Notes]) VALUES (1, N'admin', N'for administrator')
INSERT [dbo].[Roleid] ([Roleid], [Description], [Notes]) VALUES (2, N'manager', N'managers')
SET IDENTITY_INSERT [dbo].[Roleid] OFF
INSERT [dbo].[Users] ([UserName], [Password], [Roleid]) VALUES (N'admin', N'123456', 1)
INSERT [dbo].[Users] ([UserName], [Password], [Roleid]) VALUES (N'manager', N'123', 2)
SET ANSI_PADDING ON

GO
/****** Object:  Index [Email]    Script Date: 12/21/2020 10:47:26 PM ******/
ALTER TABLE [dbo].[Departments] ADD  CONSTRAINT [Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[usp_DepartmentsAddNewDepartment]    Script Date: 12/21/2020 10:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE  [dbo].[usp_DepartmentsAddNewDepartment]

(
             @DepartId        INT
			 ,@StudentName    NVARCHAR (50)
             ,@DepatmentName  NVARCHAR (50)
			,@Email            NVARCHAR (50)
			,@Telephone        NVARCHAR (50)
			,@Website            NVARCHAR (50)
			,@StudentImage          IMAGE = null
			,@Address           NVARCHAR (50)
			
			
)
   AS
	 BEGIN
                          

           INSERT INTO [dbo].[Departments]
                       ([StudentName]
					   ,[DepatmentName]
			            ,[Email]
			            ,[Telephone]
			            ,[Website]
			            ,[StudentImage]
			             ,[Address]
			             
			             )
	           VALUES 
			            (@StudentName
						,@DepatmentName
			              ,@Email
			              ,@Telephone
			               ,@Website
			               ,@StudentImage
			               ,@Address
			               
		                 	)
							      

          END




GO
/****** Object:  StoredProcedure [dbo].[usp_DepartmentsGetAllDepartments]    Script Date: 12/21/2020 10:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


	CREATE PROC [dbo].[usp_DepartmentsGetAllDepartments]
AS
  BEGIN
        

		SELECT [DepartId]
		       ,[StudentName]
		      ,[DepatmentName]
			  ,  [Email]
			  , [Telephone]
			  ,  [Address]
			 FROM[dbo].[Departments]
	
	
			 END



GO
/****** Object:  StoredProcedure [dbo].[usp_DepartmentsGetDepartmentDetailByDepartId]    Script Date: 12/21/2020 10:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROCEDURE [dbo].[usp_DepartmentsGetDepartmentDetailByDepartId]
(
               @DepartId INT

)
AS
    
	BEGIN
	     SELECT [DepartId]
		        ,[StudentName]
		        ,[DepatmentName]
				,[Email]
				,[Telephone]
				,[Website]
				,[StudentImage]
				,[Address]
			FROM [dbo].[Departments]
			WHERE [DepartId] = @DepartId
	END


GO
/****** Object:  StoredProcedure [dbo].[usp_DepartmentsUpdateDepartmentDetail]    Script Date: 12/21/2020 10:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










		  

CREATE PROCEDURE  [dbo].[usp_DepartmentsUpdateDepartmentDetail]

(
            @DepartId         INT
              ,@StudentName    NVARCHAR (50)
             ,@DepatmentName  NVARCHAR (50)
			,@Email            NVARCHAR (50)
			,@Telephone        NVARCHAR (50)
			,@Website            NVARCHAR (50)
			,@StudentImage          IMAGE = null
			,@Address           NVARCHAR (50)
			

)
AS
  BEGIN 
             UPDATE   [dbo].[Departments]
			   SET[StudentName]= @StudentName
			   ,[DepatmentName]=@DepatmentName
			         ,[Email]=@Email
			          ,[Telephone]=@Telephone
			          ,[Website]=@Website
			          ,[StudentImage]=@StudentImage
			           ,[Address]=@Address
			          
			   WHERE  [DepartId] =@DepartId
			              
END






GO
/****** Object:  StoredProcedure [dbo].[usp_EmployeesAddNewEmployee]    Script Date: 12/21/2020 10:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_EmployeesAddNewEmployee]
(

            @employeeid  int
		   ,@fullname   nvarchar(50)
           ,@dataofbirth    datetime
           ,@email     nvarchar(50)
           ,@mobile      nvarchar(50)
           ,@DepartId    int
           ,@photo    image



)


as
  
  begin 
    INSERT INTO [dbo].[Employees]
           (
		   [fullname]
           ,[dataofbirth]
           ,[email]
           ,[mobile]
           ,[DepartId]
           ,[photo])
     VALUES
           (
		   
		   @fullname
           ,@dataofbirth
           ,@email
           ,@mobile
           ,@DepartId
           ,@photo)



  end

GO
/****** Object:  StoredProcedure [dbo].[usp_EmployeesGenerateNewEmployeeId]    Script Date: 12/21/2020 10:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE procedure [dbo].[usp_EmployeesGenerateNewEmployeeId]
as
          begin
		  
		     declare @employeeid int 

		      select @employeeid = ISNULL (MAX ( employeeid ) ,0)from [dbo].[Employees]
			   SET @employeeid =@employeeid + 1
		         select @employeeid
          end		  
		  
		  
		  
		  
		    




GO
/****** Object:  StoredProcedure [dbo].[usp_EmployeesGetEmployeeDetailsById]    Script Date: 12/21/2020 10:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE procedure [dbo].[usp_EmployeesGetEmployeeDetailsById]
(

       @employeeid int
      
)
as
      begin
         select 
                  [employeeid]
                     ,[fullname] 
                    ,[dataofbirth] 
                    ,[email] 
                    ,[mobile]
                    ,[DepartId] 
                     ,[photo] 


         from  [dbo].[Employees]      
				

      end


GO
/****** Object:  StoredProcedure [dbo].[usp_EmployeesGetEmployees]    Script Date: 12/21/2020 10:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[usp_EmployeesGetEmployees]

as
      begin
         select    e.[Employeeid]                
                     ,e.[fullname] 
					 ,convert (varchar,e.[dataofbirth],103) as 'dataofbirth'
                    ,e.[email] 
                    ,e.[mobile] 
                    ,e.[DepartId] 
                      
                
			from [dbo].[Employees]  e
			left join [dbo].[Departments] b on e.DepartId= b.DepartId


      end
GO
/****** Object:  StoredProcedure [dbo].[usp_EmployeesUpdateEmployeeDetails]    Script Date: 12/21/2020 10:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_EmployeesUpdateEmployeeDetails]
(

       @employeeid int
      ,@fullname nvarchar(50)
      ,@dataofbirth datetime
      ,@email nvarchar(50)
      ,@mobile nvarchar(50)
      ,@DepartId int
      , @photo  image
)
as
      begin
         UPDATE [dbo].[Employees]
               SET   
                    [fullname] = @fullname 
                    ,[dataofbirth] = @dataofbirth 
                    ,[email] = @email
                    ,[mobile] = @mobile
                    ,[DepartId] = @DepartId
                     ,[photo] = @photo
                
				WHERE [employeeid]= @employeeid

      end


GO
/****** Object:  StoredProcedure [dbo].[usp_UsersCheckLoginDetails]    Script Date: 12/21/2020 10:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_UsersCheckLoginDetails]
(
@UserName NVARCHAR (50)
,@Password NVARCHAR (50)
)
AS
      BEGIN
	       DECLARE @IsLoginCorrect BIT
		   SET @IsLoginCorrect = 0

		   IF EXISTS  (SELECT '#' FROM [dbo].[Users] WHERE [UserName]=@UserName AND
[Password]=@Password)
            
			BEGIN

			  SET @IsLoginCorrect = 1
			
		    END


			SELECT @IsLoginCorrect AS '@IsLoginCorrect'

	END





GO
USE [master]
GO
